<!DOCTYPE html>
<html>
<head>
	<title>TheOne</title>
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

	<style type="text/css">
		.nav ul {
			display: grid;
			grid-gap: 20px;
			grid-template-columns: repeat(8,1fr);
			padding: 10px;
			list-style: none;
			text-align: center;
		}
		.nav ul li {
			text-align: center;
			padding: 10px;
			text-align: center;
			cursor: pointer;
		}
		button {
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			width:80%;
			height:80%;
			background-color: transparent;
			outline: none;
			border: 0px;
			cursor: pointer;
		}

	</style>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>

	</script> -->
</head>
<body>

	<header>News Feed</header>
<form action="/" method="GET">
	COUNTRY: <select name="country" onchange="this.form.submit()">
		<option value="">Please Select</option>
		<option value="AR">Argentina</option>
		<option value="AU">Australia</option>
		<option value="AT">Austria</option>
		<option value="BE">Belgium</option>
		<option value="BR">Brazil</option>
		<option value="BG">Bulgaria</option>
		<option value="CA">Canada</option>
		<option value="CN">China</option>
		<option value="CO">Colombia</option>
		<option value="CU">Cuba</option>
		<option value="CZ">Czech Republic</option>
		<option value="EG">Egypt</option>
		<option value="FR">France</option>
		<option value="DE">Germany</option>
		<option value="GR">Greece</option>
		<option value="HK">Hong Kong</option>
		<option value="HU">Hungary</option>
		<option value="IN">India</option>
		<option value="IE">Ireland</option>
		<option value="IL">Israel</option>
		<option value="IT">Italy</option>
		<option value="JP">Japan</option>
		<option value="KR">Korea, Republic of</option>
		<option value="LV">Latvia</option>
		<option value="LT">Lithuania</option>
		<option value="MY">Malaysia</option>
		<option value="MX">Mexico</option>
		<option value="MA">Morocco</option>
		<option value="NL">Netherlands</option>
		<option value="NZ">New Zealand</option>
		<option value="NG">Nigeria</option>
		<option value="NO">Norway</option>
		<option value="PH">Philippines</option>
		<option value="PL">Poland</option>
		<option value="PT">Portugal</option>
		<option value="RO">Romania</option>
		<option value="RU">Russian Federation</option>
		<option value="SA">Saudi Arabia</option>
		<option value="RS">Serbia</option>
		<option value="SG">Singapore</option>
		<option value="SK">Slovakia</option>
		<option value="SI">Slovenia</option>
		<option value="ZA">South Africa</option>
		<option value="SE">Sweden</option>
		<option value="CH">Switzerland</option>
		<option value="TW">Taiwan, Province of China</option>
		<option value="TH">Thailand</option>
		<option value="TR">Turkey</option>
		<option value="UA">Ukraine</option>
		<option value="GB">United Kingdom</option>
		<option value="US">United States</option>
		<option value="VE">Venezuela, Bolivarian Republic of</option>
		</select>
</form>

	<div class="nav">
		<ul>
			<form action="/" method="get">
				<button><li>Top Headlines</li></button></form>

			<form action="/business" method="get">
			<button><li>Business</li></button></form>

			<form action="/entertainment" method="get">
			<button><li>Entertainment</li></button></form>

			<form action="/general" method="get">
			<button><li>General</li></button></form>

			<form action="/health" method="get">
			<button><li>Health</li></button></form>

			<form action="/science" method="get">
			<button><li>Science</li></button></form>

			<form action="/sports" method="get">
				<button><li>Sports</li></button></form>

			<form action="/technology" method="get">
				<button><li>Technology</li></button></form>

		</ul>
	</div>

	<form action="/search" method="get">
		<input type="text" name="name">
		<button>Search</button>
	</form>

	<p>This is it </p>

	  {{# each jobs}}
	  <div>{{this.title}}</div>
	  <div>{{this.description}}</div>
	  <div><a href="{{this.url}}">Read More</a></div>
		<div><img src="{{this.urlToImage}}" height="100px" width="100px"></div>
		<div>{{this.content}}</div>
		************************************************
		<br><br>
	  {{/each}}



</body>
</html>
